datasets
python-dotenv
ragas
PyPDF2
langchain-community
langchain-google-genai
langchain-text-splitters
langchain
pandas
chromadb
uuid
pymupdf
pypdfium2
langchain-chroma
streamlit
google-generativeai
langchain
langchain_google_genai
rapidocr-onnxruntime