.button {
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 16px;
    border-color: rgb(7, 7, 7);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-dark {
    background-color: #4B0082;
    color: white;
  }
  
  .button-dark:hover {
    background-color: #3a006b;
  }
  
  .button-light {
    background-color: #D8BFD8;
    color: #4B0082;
  }
  
  .button-light:hover {
    background-color: #c6a6c6;
  }
  